{% extends 'blog/base.html'%}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk}">{{ post.title }}</a></h2>  
                 <!-- this is done to link post's title in post list to post's detail page-->
                  <!--
                        {% url 'post_detail' pk=post.pk %} is a Django template tag used to generate a URL dynamically.
                        'post_detail' refers to the name of a URL pattern defined in your blog/urls.py using name='post_detail'
                        pk=post.pk passes the primary key of the post object into the URL.
                        pk stands for primary key, a unique ID for each record.
                        If you didn’t define one, Django automatically adds an id field as the primary key.

                  -->
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}